*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --text-color: #ffffff;
    --bg-color: #050f06;
    --main-color: #53f7c0;

    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

body{
    color: var(--text-color);
    background-color: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}

.logo {
    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;
}
span{
    color: var(--main-color);
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 10px 15px;
    transition: all .50 ease;
}

.navbar a:hover{
    color: var(--main-color);
}

#menu-icon{
    color: var(--text-color);
    font-size: 30 px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}


section{
    padding: 70px 17% 60px;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(../img/img7.jpg);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-home h1{
    font-size: var(--h1-font);
    font-weight: 600;
    line-height: 1.0;
    margin-bottom: 15px;
}

.text-home p{
font-size: var(--p-font);
font-weight: 500;
line-height: 30px;
color: #ffffff;
margin-bottom: 35px;
}

.btn{
    display: inline-block;
    padding: 13px 40px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 600;
    border: 3px solid transparent;
    border-radius: 50px;
    transition: all .50 ease;
    cursor: pointer;
}

.btn1{
    background-color: transparent; 
    border: 2px solid var(--main-color); 
    color: var(--main-color); 
    padding: 15px 8px;
    text-align: center; 
    display: inline-block;
    font-size: 15px;
    margin: 8px 5px;
    cursor: pointer;
    border-radius: 22px;
}

.btn:hover{
    transform: translateX(5px);
    border: 2px solid var(--text-color);
    background: transparent;
    color: var(--text-color);
}

.btn1:hover{
    border: 2px solid var(--text-color);
    color: var(--text-color);
}

header.sticky{
    padding: 8px 17%;
    background: #050f06;
    backdrop-filter: blur(35px);
}

.heading{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 3rem;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    text-align: center;
    gap: 3rem;
}

.box{
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
}

.box img{
    width: 200%;
    display: block;
    transition: 0.7s;
}

.box img:hover{
    transform: scale(1.2);
}

.text-img{
    text-align: center;
    padding: 10px;
}

.conocenos{
    display: flex;
    flex-wrap: wrap;
}

.conocenos-img,
.conocenos-text {
    flex: 1 0 100%;
    margin: 36px;
}

@media screen and (min-width: 461px) {
    .conocenos-img,
    .conocenos-text {
        flex: 1;
    }
}

.conocenos-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.conocenos-text h5{
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}

.conocenos-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
}

.conocenos-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 35px;
}

.Planes h2{
    font-size: var(--h2-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
    text-align: center;
}


.product-slider {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.slide {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

.image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1199px) and (min-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}


@media (max-width: 767px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.btn2{
    background-color: transparent; 
    border: 2px solid var(--main-color); 
    color: var(--main-color); 
    padding: 15px 8px;
    text-align: center; 
    display: inline-block;
    font-size: 15px;
    margin: 8px 5px;
    cursor: pointer;
    border-radius: 22px;
}

.btn2:hover{
    border: 2px solid var(--text-color);
    color: var(--text-color);
}